<div class="header">
  <a class="logo" href="/src/index.html">
    <svg width="24" height="24">
      <use href="/src/images/sprite.svg#logo"></use></svg
    >Bookshelf
  </a>

  <!-- цю частину треба доробити -->
  <ul class="nav__list__temporary">
    <li class="nav__item">
      <a href="index.html">Home</a>
      <a href="shopping-list.html">Shopping List</a>
    </li>
  </ul>
  <div>
    <include src="./partials/switch-dark-theme.html"></include>
  </div>
  <div>
    <include src="./partials/modals/authorization-form.html"></include>
  </div>
</div>
