<!-- <div class="header">
  <a class="logo" href="/src/index.html">
    <svg width="24" height="24">
      <use href="/src/images/sprite.svg#logo"></use></svg
    >Bookshelf
  </a> -->

<!-- цю частину треба доробити -->
<!-- <ul class="nav__list__temporary">
    <li class="nav__item">
      <a href="index.html">Home</a>
      <a href="shopping-list.html">Shopping List</a>
    </li>
  </ul>
  <div>
    <include src="./partials/switch-dark-theme.html"></include>
  </div>
</div> -->

<div class="menu-hamburger">
  <div class="logo">
    <a class="logo" href="/src/index.html">
      <svg width="24" height="24">
        <use href="/src/images/sprite.svg#logo"></use>
      </svg>
      Bookshelf
    </a>
  </div>
  <div class="buttoms">
    <include src="./partials/switch-dark-theme.html"></include>
    <button
      class="menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg width="28" height="28" aria-label="Turn on/off mobile memu">
        <use
          class="mobile-modal-hamburger"
          href="./images/sprite.svg#burger"
        ></use>
      </svg>
    </button>
  </div>
  </div>
</div>
<div class="menu-container js-menu-container" id="mobile-menu">
    <button class="menu-toggle js-close-menu x-close">
      <svg
        class="header-modal-close-black"
        width="20"
        height="20"
        aria-label="Turn on/off mobile memu"
      >
        <use
          class="mobile-icon-menu"
          href="./images/sprite.svg#x-close"
        ></use>
      </svg>
    </button>
    <div class="mobile-menu">
    <ul class="nav__list__temporary">
    <li class="nav__item">
      <a href="index.html">Home</a>
      <a href="shopping-list.html">Shopping List<svg
        class="header-modal-close-black"
        width="20"
        height="20"
        aria-label="Turn on/off mobile memu"
      >
        <use
          class="mobile-icon-bag"
          href="./images/sprite.svg#bag"
        ></use>
      </svg></a>
    </li>
  </ul>
      </div>
    </div>
  </div>