.item-category {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    /* color: var(--paragraph-color); */
    margin-bottom: 18px;
    display: block;
}