/* стилізація бокового блоку категорії */
.category {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
}
@media screen and (max-width: 767px) {
  .category {
    width: 100%;
    height: 228px;
    /* left: 20px;
      top: 104px; */
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .category {
    width: 337px;
    height: 472px;
    left: 32px;
    top: 112px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1024px) {
  .category {
    width: 356px;
    height: 472px;
    left: 24px;
    top: 112px;
  }
}

.categBook {
  /* Сталізація списку */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.bookcat {
  /* Стилізація тексту списку категорій */
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  transition: font-weight 1.5s ease, color 0,2 ease;
  color: var(--category-name);
  cursor: pointer;
}

.bookcat:hover,
.bookcat:focus {
  font-weight: 700;
  line-height: 133%;

  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--hovertxt);
}
@media screen and (max-width: 767px) {
  .bookcat {
    line-height: 112%;
    letter-spacing: -0.02em;

  }
}
@media screen and (min-width: 768px) {
  .bookcat {
    line-height: 133%;
    letter-spacing: -0.02em;
  
    white-space: nowrap;
  }

  .current-page{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 133%;
    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: var(--accent-font-blue-color);
  }
  
  
  
  ::-webkit-scrollbar {
    width: 8px; /* Стилізація бокового скролу */
  }
  
  ::-webkit-scrollbar {
    width: 8px; /* Ширина полоси прокрутки */
  }
  
  /* Стилізація кришки полоси прокрутки */
  ::-webkit-scrollbar-thumb {
    background-color: var(--scroll); /* Колір полоси прокрутки */
    border-radius: 4px; /* Закругленість країв полоси прокрутки */
  }
  
  /* Стилізація фону полоси прокрутки */
  ::-webkit-scrollbar-track {
    background-color: var(--scroll-line); /* Колір фону полоси прокрутки */
  }
  
  /* Стилізація фону полоси прокрутки */
  ::-webkit-scrollbar-track {
    background-color: var(--header-background); /* Колір фону полоси прокрутки */
  }
  
  
  /* Стилізую секцію для вигрузки картинок */
  .top-books-section {
    box-sizing: border-box;
  }
}

  .container-books-card {
    box-sizing: border-box;
  }

.constainer-books-card {
  box-sizing: border-box;
}

/* стилізуємо заголовок списку вибраної категорії */
.selected-category-name {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 108%;
  letter-spacing: -0.04em;
  margin-bottom: 40px;

  color: var(--main-txt-color);
}

/* Слилізуємо картку книжки */
.book-card-preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 180px;
  height: 306px;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .book-card-preview {
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .book-card-preview {
    width: 218px;
    height: 366px;

    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1440px) {
  .book-card-preview {
    width: 180px;
    height: 306px;
  }
}

/* стилізуєм ул нового списку по категоріям */
.selected-category {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

/* стилізую загаловок книжки */
.book-title {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 112%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  margin-bottom: 4px;

  color: var(--main-txt-color);
}

/* стилізуєм автора книги */
.book-author {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: var(--paragraph-color);
  padding-left: px;
  padding-bottom: 4px;
  }

/* стилізую вікно для картинки окремої книжки */
.book-image {
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 14px;
}
@media screen and (max-width: 767px) {
  .book-image {
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .book-image {
    width: 218px;
    height: 316px;
  }
}
@media screen and (min-width: 1440px) {
  .book-image {
    width: 180px;
    height: 256px;
}}

  .book-image img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
  
  .book-preview-container{
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .book-preview-container:hover,
  .book-preview-container:focus {
    border-radius: 8px;
    transform: scale(1.1); /* Приближення елементу на 10% */
    box-shadow: 50 0 10px rgba(0, 0, 0, 0.3);
  }

  .book-preview-container .book-author,
  .book-preview-container .book-title {
  padding-left: 5;
  padding-bottom: 5;
  transition: padding-left 0.3s ease, padding-bottom 0.3s ease;
}

  .book-preview-container:hover .book-author,
  .book-preview-container:focus .book-author,
  .book-preview-container:hover .book-title,
  .book-preview-container:focus .book-title {
    padding-left: 5px;
    padding-bottom: 10px;
  }


.book-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.last-word-category{
  color: var(--accent-font-blue-color);
}