.container {
  /* Phone max-width */
  max-width: 374.9px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 80px;

  margin: 0 auto;

  outline: solid 2px tomato;
}

/* Tablet max-width */
@media screen and (max-width: 1023.9px) {
  .container {
    max-width: 1023.9px;

    /* Padding Tablet */
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 40px;
    padding-bottom: 100px;
  }
}

/* Desktop min-width */
@media screen and (min-width: 1024px) {
  .container {
    /* Desktop max-width */
    max-width: 1440px;

    padding-left: 24px;
    padding-right: 24px;
    padding-top: 40px;
    padding-bottom: 100px;
  }
}



