.header-container {
  position: relative;
  /* width: 100%; */
  top: 0;
  left: 0;
  height: 62px;
  display: flex;
  border: 1.5px solid var(--main-txt-color);
  border-radius: 0px 0px 8px 8px;
  background-color: var(--header-background);
  padding: 0 16;

  transition: background-color 0.3s ease;
}

@media screen and (min-width: 768px) {
  .header-container {
    /* width: 356px; */
    height: 72px;
  }
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
}
.logo {
  display: flex;
  /* align-items: center; */
  color: var(--logo-txt);
  font-weight: 700;
  gap: 8px;
  margin-top: 18px;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-top: 22px;
  }
}
.site-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .site-nav {
    /* width: 356px; */

    flex-direction: row;
    gap: 24px;
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: var(--main-txt-color);
    display: flex;
    align-items: baseline;

    margin-left: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .site-nav {
    margin-left: 76px;
  }
}

.site-nav__item {
  padding-top: 24px;
}
.site-nav__link {
  transition: color 1, 5s ease;
}

.site-nav__link:hover,
.site-nav__link:focus {
  fill: var(--accent-font-blue-color);
  color: var(--accent-font-blue-color);
}

.site-nav__link--current {
  background-color: var(--yellow-color);
  color: var(--main-txt-color);
  border-radius: 36px;
  height: 34px;
  padding: 8px 16px;
  font-weight: 700;
  transition: color 1s ease;
}

.nav__svg {
  position: absolute;
  margin-left: 4px;
 
}


.switch {
  position: absolute;
  right: 62px;
  top: 2%;
}

@media screen and (min-width: 768px) {
  .switch {
    right: 240px;
  }
}

@media screen and (min-width: 1440px) {
  .switch {
    right: 232px;
  }
}

.form {
  display: none;
}

@media screen and (min-width: 768px) {
  .form {
    height: 42px;
    display: flex;
    position: absolute;
    right: 1%;
    top: 20%;
  }
}
