:root {
    /* --black-color: #111111; */

    --main-txt-color:  rgba(17, 17, 17,1);
    --pagination-back: rgba(17, 17,17,1)

      /* --main-font-black-color: rgba(17, 17, 17, 1);*/ 

   /* --grey-dark: #202024 фон полоси прокрутки*/

   /* blue-color: #4F2EE8; */
   --hovertxt: rgba(234, 198, 69, 1);
   --btn-border:rgba(79, 46, 232, 1);
   --accent-font-blue-color: #4F2EE8; 

   /*  --yellow-color: #EAC645; === актив пейдж */
   /* --active-page: rgb(234, 198, 69);  */
   --pagination-next:rgb(234,198,69);

   /* --white-color: #FFFFFF; фон хедера та карток в SL*/
   --header-background: rgb(255, 255, 255);

   /*  --main-font-white-color: #F3F3F3;*/
   --secondary-txt-color: rgb(243, 243, 243);
   
/* 
   --paragraph-grey-font-color:#B4AFAF   назва категорій в правій частині, автор*/
  --paragraph-color: rgb(180, 175, 175);

  /* фонди тхт не змінювала*/
   --paragraph-white-font-color: #f6f6f6;
   --background-body:  rgba(246, 246, 246, 1);
   --pagination-bkg: #f4f4f4;

/* 
   --dark-theme-background-black-color: rgb(17, 17, 17);
      --dark-theme-background-grey-color: rgb(32, 32, 36); */

/* додаю  */
--backg-overlay-modal: rgba(17, 17, 17, 0.4);

/* назви категорій в лівій частині сайту */
--category-name: rgba(255, 255, 255, 0.6);

--scroll: rgba(224, 224, 224,1);
--logo-txt: #000000;
--scroll-line: #f1f1f1;

 }











/* Shopping list */




