.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;

  background-color: rgb(0, 0, 0, 0.4);
  transition: opacity 1000ms, visibility 1000ms;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  width: 335px;
  height: 762px;
  background-color: #ffffff;
  border: 2px solid #111111;
  border-radius: 18px;
}
.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 676px;
  left: 62px;
  border: 2px solid #4f2ee8;
  border-radius: 40px;
  width: 211px;
  height: 46px;
  background-color: transparent;
  padding: 0;
  transition: background-color 250ms;
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #4f2ee8;
  border-color: #4f2ee8;
}

.modal-btn:hover > .text-btn,
.modal-btn:focus > .text-btn {
  color: white;
}

.text-btn {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
}

.modal-close {
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: black;
  position: absolute;
  top: 12px;
  right: 12px;
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: none;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .modal-close {
    top: 24px;
    right: 24px;
  }
  .modal-btn {
    width: 499px;
    height: 64px;
    top: 361px;
    left: 40px;
  }
  .modal {
    width: 579px;

    height: 465px;
  }
}

.modal-close:hover,
.modal-close:focus {
  stroke: #4f2ee8;
  border: none;
}
.modal-icon {
  transition: stroke 250ms;
}

body.modal-open {
  overflow: hidden;
}

.card-img-modal {
  width: 192px;
  height: 281px;
}
/* .title {
}
.author-card-modal {
}
.text-card-modal {
}  */
