body {
  font-family: 'DM Sans', sans-serif;

  margin: 0 auto;
  padding: 0;
  max-width: 1440px;

  background-color: var(--background-body);
  overflow: overlay;

  transition: background-color 0.3s ease;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
