.scroll-up-svg {
  width: 24px;
  height: 24px;
}

.scroll-up {
  position: fixed;
  right: 10px;
  bottom: 10px;

  display: none;

  justify-content: center;
  align-items: center;

  width: 54px;
  height: 54px;

  background-color: var(--hovertxt);

  opacity: 1;
  border-radius: 50%;
  cursor: pointer;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.scroll-up:hover,
.scroll-up:focus {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

@media screen and (min-width: 768px) {
  .scroll-up {
    right: 24px;
    bottom: 20px;
  }
}
