.paginations {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}

.paginations__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginations__container-back,
.paginations__container-end {
  display: none;
}

.paginations__container-pages {
  display: flex;
  margin-left: 15px;
  margin-right: 15px;

  @media screen and (min-width: 768px) {
    margin-left: 24px;
    margin-right: 24px;
  }
}

.paginations__btn {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: 1px solid #111111;

  @media screen and (min-width: 768px) {
    width: 44px;
    height: 44px;
  }
}

.paginations__btn--back {
  display: inherit;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  background-color: var(--pagination-back);
  border-color: var(--pagination-back);

  &:hover {
    background-color: var(--accent-font-blue-color);
  }

  &:active {
    background-color: var(--background-body);
  }

  &:first-child {
    margin: 0px;
  }
}

.paginations__btn--pages {
  margin-left: 10px;
  background-color: transparent;
  color: var(--main-txt-color);
  border-color: var(--main-txt-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;

  &:first-child {
    margin: 0px;
  }
}

.paginations__btn--end {
  display: inherit;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  background-color: var(--pagination-next);
  border-color: var(--black-color);

  &:hover {
    background-color: gold;
  }

  &:active {
    background-color: darkgoldenrod;
  }

  &:first-child {
    margin: 0px;
  }
}

.shopping__list {
  min-height: 320px;

  @media screen and (min-width: 768px) {
    min-height: 215px;
  }

  @media screen and (min-width: 1440px) {
    min-height: 680px;
  }
}

.pagination-def-active {
  background-color: var(--main-txt-color);
  color: var(--header-background);
}

.paginations__icon{
  pointer-events: none;
}